<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143795624-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143795624-2');
    </script>



    <title>i SOLveIT </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i&display=swap" rel="stylesheet">    

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    
    <link rel="shortcut icon" href="https://drive.google.com/uc?export=view&id=1CgVfUmvQwr8XTtdtFqof4H5zsTgR_FL5" type="image/png">
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
    <div class="site-wrap"> 
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
   
    
      <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
        
        <div class="container-fluid">
          <div class="d-flex align-items-center">
            <div class="site-logo"><a href="/" >iSOLveIT</a></div>
            <div>
              <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                  <li><a href="#home-section" class="nav-link">Home</a></li>
                  <li><a href="#about-section" class="nav-link">About</a></li>
                  <li><a href="#work-section" class="nav-link">Work</a></li>
                  <li><a href="#services-section" class="nav-link">Services</a></li>
                </ul>
              </nav>
            </div>
            <div class="ml-auto">
              <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block">
                  <li class="cta"><a href="#contact-section" class="nav-link">Contact</a></li>
                </ul>
              </nav>
              <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
            </div>
          </div>
        </div>
      </header>

      <div class="intro-section" id="home-section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 mr-auto" data-aos="fade-up">
              <h1  style="color:#fff; line-height: 1.7cm;">Hello! <br> <b style="color: #ffff;">I'm <i style="font-size: 70pt; color: #f18900;">i</i>SOLveIT</b> </h1><br>
              <p class="mb-5" style="color:#ffff;">I create web applications that are responsive, scalable, creative, functional and costless which helps my customers gain huge competitive advantage over their competitors.</p>
              <a href="https://drive.google.com/file/d/13QW6FrPlC-u_5pT46mWWNDjmsgfC64E7/view?usp=drivesdk" target="_blank" download="iSOLveIT CV.pdf" style="color:#ffffff;">
                <button class="ani_btn btn py-3 px-5" >Download CV</button>
              </a>
            </div>
            <div class="col-lg-2 ml-auto"  data-aos="fade-up" data-aos-delay="100">
              <figure class="img-absolute">
                <img src="https://drive.google.com/uc?export=view&id=1NufJMw3bdN3GU9Q79DIcq-k1JIZJLnbM" alt="Image" class="img-fluid">
              </figure>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section section-1" id="about-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 mr-auto mb-5">
              <div class="mb-5">
                <span class="section-sub-title d-block">About iSOLveIT</span>
                <h2 class="section-title">Who Am I?</h2>
                <p>Hello! My name is Duodu Randy. I am a <b>Programmer</b> and a student at the University of Professional Studies Accra, Ghana.
                  I develop web applications using variety of modern web technologies.
                  I like reading about latest web development technologies, artificial intelligence and data science.
                  </p>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="image-absolute-box" >
                <div class="box" data-aos="fade-up" >
                  <div class="icon-wrap"><span class="icon-vector"></span></div>
                  <h3 style="color:#ffff; font-size: 20pt;">Creativity is the key</h3>
                  <p style="color:#ffff;">I love to be creative because it helps me build web applications that are original, expressive, professional, imaginative and serves their purposes.</p>
                </div>
                <img src="https://drive.google.com/uc?export=view&id=18F_hkfbj7aLcnDcxkOS9BDrqxpQnb_Kd" alt="Image" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>  
          
    </div>

    <div class="site-section section-2" id="work-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5">
            <span class="section-sub-title d-block">Work Experience</span>
            <h2 class="section-title">My Projects</h2>
            <p>These are the projects I have built and deployed so far.</p>
          </div>
        </div>

      </div>

      <div class="owl-carousel nonloop-block-13">

          <a class="work-thumb" href="http://www.agmschool.org" target="_blank">
            <div class="work-text">
              <h3>Amazing Montessori School</h3>
              <span class="category">Website for a School</span>
            </div>
            <img src="https://drive.google.com/uc?export=view&id=153Buw9vrP5T8DaKJMJ9OdQAYn9BrG-Ph" alt="Image" class="img-fluid">
          </a> 

          <a class="work-thumb" href="https://iscissor.herokuapp.com/ishort" target="_blank">
            <div class="work-text">
              <h3>i SHOrteNER</h3>
              <span class="category">URL Shortener Website</span>
            </div>
            <img src="https://drive.google.com/uc?export=view&id=1WTSKJiRqTr2ImlHu2zUdq9rkQqm2XojJ" alt="Image" class="img-fluid">
          </a> 
          <a class="work-thumb" href="https://isolveit.herokuapp.com" target="_blank">
            <div class="work-text">
              <h3>iSOLveIT</h3>
              <span class="category">Portfolio Website</span>
            </div>
            <img src="https://drive.google.com/uc?export=view&id=1t7C_RpOrKQtpkjtgE2nml6Y8Li27ARD0" alt="Image" class="img-fluid">
          </a> 


      </div>

    </div>

    <div class="site-section bg-light" id="services-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5">
            <span class="section-sub-title d-block">Services</span>
            <h2 class="section-title">Services</h2>
            <p>I provide a full-range of web services.</p>
          </div>
        </div>

      </div>
        
      <div class="owl-carousel nonloop-block-14">     
        <div class="service">
          <div>
            <span class="icon-web display-4 mb-4 d-inline-block" style="color: #f18900;" ></span>
            <h3 style="font-size: 16pt;">WebApp Service</h3>
            <p>I offer high-end unique webapp designs, professional content creation and webapp hosting, management or relocation services.</p>
          </div>
        </div>

        <div class="service">
          <div>
            <span class="icon-help display-4 mb-4 d-inline-block" style="color: #000033;"></span>
            <h3>24/7 Support</h3>
            <p>I am forever ready to assist customers on issues pertaining to webapp creation, management or any other. </p>
          </div>
        </div>

        <div class="service">
          <div>
            <span class="icon-search display-4 mb-4 d-inline-block" style="color: #f18900;"></span>
            <h3>Research</h3>
            <p>Based on the needs of your project, I can assist you in performing user research for your webapp design process.</p>
          </div>
        </div>

        <div class="service">
          <div>
            <span class="icon-envelope display-4 mb-4 d-inline-block" style="color: #000033;"></span>
            <h3>Version Control Service</h3>
            <p>I provide customers with help in managing changes to their source code over time.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section" id="contact-section">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-md-7">
            <h2 class="section-title mb-3">Message Me</h2>
            <p class="mb-5">
              Need more information or enquiries about <strong><em>iSOLveIT</em></strong> and the services I
              provide or want to know about contract agreements. Message <strong><em>iSOLveIT</em></strong>
              by filling the forms belows.
              <br><small class="text-muted" style="font-size: 8pt; color:#000033;">The data is deleted as soon as iSOLveIT receive your email. Thank you.</small>
            </p>

            <form action="/" method="POST" class='contact_form' data-aos="fade">
              <div class="form-group row">
                <div class="col-md-12 mb-3 mb-lg-0">
                    {% include 'includes/_message.html'%}
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-8 mb-3 mb-lg-0">
                  <input type="text" class="form-control" name="nameInput" placeholder="Full Name" required>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" name="subjInput" placeholder="Subject" required>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="email" class="form-control" name="emailInput" placeholder="Email" required>
                  <small class="text-muted" style="font-size: 8pt; color:#000033;">Email address will be verified before message is sent.</small>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <textarea class="form-control" name="bodyInput" cols="30" rows="10" placeholder="Write your message here." required></textarea>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <input type="submit" class="ani_btn btn py-3 px-5" value="Send Message">
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  
     
    <footer class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Contact Me</h3>
              <ul class="list-unstyled footer-links">
                <li><span class="icon-at" style="color:#f18900; font-size: 26pt;"></span> <i style="margin-left: 10px;">duodurandy19@gmail.com</i></li>
                <li><span class="icon-envelope" style="color:#000033; font-size: 26pt;"></span> <i style="margin-left: 10px;">Post Office Box SW 328</i></li>
                <li><span class="icon-phone_iphone" style="color:#f18900; font-size: 26pt;"></span> <i style="margin-left: 10px;">+233 55 477 9371 / +233 27 073 2007</i></li>
              </ul>
          </div>

          <div class="col-md-3 ml-auto">
            
          </div>

          <div class="col-md-4">
            <h3>Visit My Social Handles</h3>
            <p>Want to know more about me.</p>
              <div class="d-flex mb-5">
                <a href="https://twitter.com/@lve_it" target="_blank" title="Twitter"><span class="icon-twitter " style="color: #f18900; font-size:30pt; margin-right: 20px;"></span></a>
                <a href="https://github.com/iSOLveIT" target="_blank" title="Github"><span class="icon-github" style="color: #000033; font-size:30pt; margin-right: 20px;"></span></a>
                <a href="https://gitlab.com/users/iSOLveIT" target="_blank" title="Gitlab"><span class="icon-gitlab" style="color: #f18900; font-size:30pt; margin-right: 20px;"></span></a>
                <a href="https://wa.me/233554779371" target="_blank" title="Whatsapp"><span class="icon-whatsapp " style="color: #000033; font-size:30pt; margin-right: 15px;"></span></a>
              </div>
          </div>
        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> | All rights reserved | <b style="font-size:14pt">iSOLveIT.org</b>
            </p>
            </div>
          </div>
        </div>
      </div>
    </footer> 
  </div> <!-- .site-wrap -->


  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>

  
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
  </body>
</html>