.ani_btn{
  color: #ffff;
  background:#000033;
  padding: 20px;
  border: double medium #f18900;
  transition: 0.75s linear;
}

.ani_btn:hover{
  background:#f18900;
  border: double thin #000033;
}



